html, body {font-family: 'Oswald', sans-serif; font-size: 15px; background-color: #e9e9e9;}

/******* header-wrapper ********/
.header-wrapper {background-color: #000; color: #fff;}
.header-wrapper .sns-wrap {float: left;}
.header-wrapper .sns-wrap .sns {float: left; padding: 10px 16px;}
.header-wrapper .sns-wrap .sns:hover {background-color: #ddd; color: #000;}
.header-wrapper .search-wrap {float: right; padding: 10px 16px;}
.header-wrapper .search-wrap:hover {background-color: #ddd; color: #000;}

/******* main-wrapper1 ********/
.main-wrapper1 .title-wrap {background-color: #fff; padding: 60px; text-align: center; margin-bottom: 0;}
.main-wrapper1 .title-wrap h1.title {background-color: #fff; font-size: 48px; font-weight: bold; margin-bottom: 26px; margin-top: 12px;}
.main-wrapper1 .title-wrap h3.title {font-size: 16px;}
.main-wrapper1 .title-wrap h3.title > span {background-color: #000; color: #fff; padding: 1px 6px;}

.main-wrapper1 .img-wrapper {position: relative; top: 0; left: 0;}
.main-wrapper1 .img-wrapper .img-content-wrap {position: absolute; color: #fff; left: 1.9%; top: 50%;
transform: translate(0, -50%);}
.main-wrapper1 .img-wrapper .img-content-wrap h2.title {font-size: 36px; margin-bottom: 36px; letter-spacing: 5px;}
.main-wrapper1 .img-wrapper .img-content-wrap h1.title {font-size: 60px; margin-bottom: 24px; font-weight: bold; letter-spacing: 5px;}
.main-wrapper1 .img-wrapper .img-content-wrap .bt {border: none; padding: 12px 24px; font-family: 'Oswald', sans-serif; font-size: 17px; background-color: #ccc; opacity: .7;}
.main-wrapper1 .img-wrapper .img-content-wrap .bt:hover {opacity: 1; cursor: pointer;}

/******* main-wrapper2 ********/
/* left-wrapper */
.main-wrapper2 .title-wrap-first {padding-bottom: 12px;}
.main-wrapper2 .bt-wrap1 {padding-bottom: 40px; border-bottom: 1px solid #ddd; margin-bottom: 20px;}
.main-wrapper2 .writer .writer-img {width: 100px; height: 100px; padding: 4px; float: left; margin-right: 14px;}
.main-wrapper2 .writer .last {display: inline-block; float: left; padding-top: 12px;}
.main-wrapper2 .writer h4.date {font-size: 20px; padding-top: 10px;}
.main-wrapper2 .writer h4.date > span {font-size: 15px;}
.main-wrapper2 .writer p.content {padding-left: 3px;}

/* right-wrapper */
.right-wrapper .name-wrap {margin-bottom: 40px;}
.right-wrapper .name-wrap .name-img {filter: grayscale(.7);}
.right-wrapper .name-wrap .introduction-wrap {background-color: #000; padding: 14px;}
.right-wrapper .introduction-wrap h4.title {color: #fff; font-size: 20px; margin-bottom: 20px;}
.right-wrapper .introduction-wrap p.content {color: #fff; margin-bottom: 0; line-height: 1.5; text-align: left;}

.right-wrapper .post-wrap {margin-bottom: 40px;}
.right-wrapper .post-wp .post:nth-child(4) > .post-img img{filter: sepia(.7);}
.right-wrapper .post-wrap h4.title {background-color: #000;
color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .post {padding: 16px; background-color: #fff;}
.right-wrapper .post:hover {background-color: #ccc;}
.right-wrapper .post:nth-child(1) {border-bottom: 1px solid #ccc;}
.right-wrapper .post:nth-child(2) {border-bottom: 1px solid #ccc;}
.right-wrapper .post:nth-child(3) {border-bottom: 1px solid #ccc;}
.right-wrapper .post .post-img {float: left; width: 50px; height: 50px;
margin-right: 12px;}
.right-wrapper .post .clothes {float: left; padding: 4px;}
.right-wrapper .post .clothes h4.cloth1 {font-size: 18px; font-family: 'Open Sans', sans-serif; margin-bottom: 10px;}
.right-wrapper .post .clothes p.cloth2 {font-family: 'Open Sans', sans-serif;
}

.right-wrapper .adv-wrap {margin-bottom: 40px;}
.right-wrapper .adv-wrap h4.title {background-color: #000;
	color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .adv-wrap .adv-wp {background-color: #fff; padding: 16px;
display: table; width: 100%;}
.right-wrapper .adv-wrap .adv-wp .adv {background-color: #eee; display: table-cell; vertical-align: middle; text-align: center; padding: 100px 0;}
.right-wrapper .adv p.ad {font-family: 'Open Sans', sans-serif;}

.right-wrapper .tag-wrap {margin-bottom: 40px;}
.right-wrapper .tag-wrap h4.title {background-color: #000;
	color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .tag-wp {font-family: 'Open Sans', sans-serif; padding: 16px; background-color: #fff;}
.right-wrapper .tag-wp .tag {display: inline-block; font-size: 12px; background-color: #eee; padding: 2px 8px; margin-bottom: 16px; margin-right: 2px;}
.right-wrapper .tag-wp .tag-first {background-color: #000; color: #fff; font-size: 15px; padding: 4px 8px;}

.right-wrapper .inspiration-wrap {margin-bottom: 40px;}
.right-wrapper .inspiration-wrap h4.title {background-color: #000;
	color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .inspiration-wrap .inspiration-wp {background-color: #fff; padding: 8px;}
.right-wrapper .imgs1 {width: 50%; float: left;}
.right-wrapper .imgs1 > .imgs {padding: 4%;}
.right-wrapper .imgs2 {width: 50%; float: right;}
.right-wrapper .imgs2 > .imgs {padding: 4%;}
.right-wrapper .imgs2 > .imgs:nth-child(1) {filter: grayscale(.7);}

.right-wrapper .follow-wrap {margin-bottom: 40px;}
.right-wrapper .follow-wrap h4.title {background-color: #000;
	color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .follow-wrap .follow-wp {background-color: #fff; padding: 16px; text-align: left;} 
.right-wrapper .follow {display: inline-block; font-size: 23px; margin-right: 4px;}
.right-wrapper .follow:hover {opacity: .7;}

.right-wrapper .subscribe-wrap h4.title {background-color: #000;
	color: #fff; padding: 24px 14px; font-size: 20px;}
.right-wrapper .subscribe-wrap .subscribe-wp {background-color: #fff; padding: 16px; font-family: 'Open Sans', sans-serif;}
.right-wrapper .subscribe-wrap p.subscribe {line-height: 1.5; margin-bottom: 14px;}
.right-wrapper .subscribe-wrap .input {width: 100%; border: 1px solid #ddd;
padding: 10px; font-size: 15px; margin-bottom: 14px;}
.right-wrapper .subscribe-wrap .bt-sub {background-color: #f30; border: none;
color: #fff; font-weight: 400; text-align: center; padding: 10px; width: 100%;}
.right-wrapper .subscribe-wrap .bt-sub:hover {background-color: #ccc; color: #000; cursor: pointer;}

/******* footer-wrapper ********/
.footer-wrapper {background-color: #666; padding: 34px;}
.footer-wrapper .bt-black {background-color: #000; color: #fff;
padding: 10px 24px; font-size: 15px; font-weight: 400; text-align: center; border: none; margin-bottom: 40px;}
.footer-wrapper .bt-black:hover {background-color: #ddd; color: #fff;}
.footer-wrapper .bt-black .fa {margin-right: 15px;}
.footer-wrapper .copyright {margin-bottom: 20px; font-family: 'Open Sans', sans-serif; color: #fff;}
.footer-wrapper .copyright > a {text-decoration: underline;} 

/* trick */








